.custom-count-pos {
    font-size: 11px;
    font-weight: bold;
    padding: 0.2em 0.5em;
    float: right;
}
#tablepane table {
    color: black;
    text-align: center;
    background: #fff;
    border: 1px solid #b4b4b4;
    font: bold 14px helvetica;
    padding: 0;
    margin-top:10px;
    width: 100%;
    -webkit-border-radius: 8px;
}
#tablepane table th {
    border-bottom: 1px solid #b4b4b4;
}
#tablepane table tr td {
    color: #666;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 5px 5px 5px 5px;
}
#tablepane table tr td:last-child {
    border-right: none;
}
#tablepane table tr:last-child td {
    border-bottom: none;
}
.ui-footer p {
    margin-left: 1em;
}
